.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #0086c2;
    font-family: "Allerta Stencil", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 1px 0;
  }

  .sub-title {
    color: #fff;
    font-size: 13px;
  }

  @media(min-width: 420px) {
    .sub-title {
      font-size: 15px;
    }
  }