/* Footer */

.footer {
    height: 500px;
    position: relative;
}

p.made-with {
    text-align: center;
    font-size: 20px;
    color: #0086c2;
    font-family: Allerta Stencil;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
}

footer .section-divider {
    background: #000;
    margin: 0;
}

footer .section-divider h3 {
    background: #000;
    font-size: 21px;
    margin: 0;
}

.footer-divider {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background: #000;
    width: 100%;
    height: 100%;


}

.footer__heart-icon {
    max-width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.footer .social-media-icons {
    display: flex;
}

.footer .social-media-icons img {
    width: 30px;
}


.footer__logo img {
    width: 300px;
    margin-top: 200px;
    margin-left: 50px;
}


.social-icons {
    display: flex;
    margin: 0;
    margin-left: 54px;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 30px;
}
.social-icons li {
    margin-right: 10px;
}

.social-icons li img {
    width: 25px;
}