.guide-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    order: 2;
}

.guide-section__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.guide-section__content__copy {
  order: 1;
  padding: 15px;
  /* background: #19171c url('../images/new-hero.png') fixed no-repeat right; */
  background: #19171c;
  background-position-x: 50%;
  /* background-size: cover; */
}

.guide-section__content__copy .copy__title {
  text-align: center;
}

.guide-section .copy__feature-list {
  margin-top: 50px;
  /* text-align: center; */
}

.guide-section .copy__feature-list li {
  margin-bottom: 20px;
}
.guide-item img {
  border: 1px solid #000;
  /* max-width: 300px; */
  box-shadow: 0 0 2px 0px;
}

.guide-section__btn {
  text-align: center;
}

.guide-section .copy__description {
  text-align: center;
}

.guide-section .bracket-bulletin {
  margin-right: 15px;
}


.guide-item {
  opacity: 0.9;
  transform: scale(0.8);
  cursor: pointer;
  -webkit-transition: opacity,-webkit-transform .4s;
  transition: opacity,-webkit-transform .4s;
  transition: opacity,transform .4s;
  transition: opacity,transform .4s,-webkit-transform .4s;
}

.guide-item:hover {
  opacity: 1;
  transform: scale(1);
}