header {
    background: #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Allerta Stencil", sans-serif;
  }


  .header-container {
    max-width: 1300px;
  }

/* @media(min-width: 420px) {
  header {
    height: 50px;
  }
} */


nav {
  margin-right: 70px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  letter-spacing: 0.5px;
}

nav a:hover {
  color: #22a2dc;
}