

/* General Hero Styles */
.hero {
  background: #000;
  background-size: cover;
  background-position: top;
  font-family: 'Open Sans', sans-serif;
  min-height: 600px;
  color: #000;
}
  
.hero-content {
  height: inherit;
  display: flex;
  flex-basis: fit-content;
}

/* Video Section Hero Styles */
.hero .video-item {
  margin-right: 50px;
}

.hero .video-item iframe {
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 1px 0px 10px #0086c2;
}

.hero .hero-text {
  font-size: 12px;
  color: #fff;
  margin-top: -285px;
}


/* Index Hero Styles */
.index-hero {
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
  clip-path: polygon(100% 0, 0 100%, 0 0);
  width: 100%;
  min-height: 700px;
  background: #fff;
}

.index-hero__title {
  font-family: Allerta Stencil, sans-serif;
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
  line-height: 1.3;
  margin-left: 50px;
  margin-top: 150px;
}

.index-hero__market-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

.index-hero__market-title a {
  color: #62aed9;
  text-decoration: underline;
  cursor: pointer;
  font-size: 28px;
  font-family: Allerta Stencil;
}

.index-hero__market-title a:hover {
  color: #4aafde;
}

.index-hero .color {
  color: #0086c2;;
  text-decoration: underline;
  cursor: pointer;
  transition: ease 0.3s;
}

.index-hero .color:hover {
  color: #0086c2;
}

.index-hero ul { 
  list-style-type: none;
  margin: 0 auto;
  margin-top: 50px;
  width: 221px;
}

.index-hero li {
  margin-top: 15px;
  letter-spacing: 1px;
  font-size: 26px;
}

.index-hero li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: none;
}

.index-hero li a:hover {
  color: #22a2dc;
  text-decoration: underline;
}

.index-hero .bracket-bulletin {
  margin-right: 15px;
}

.index-hero video {
  height: inherit;
  width: 100%;
}


.slanted_border {
  position: absolute;
  top: 376px;
  left: 400px;
  background: #fff;
  width: 90%;
  height: 15px;
  -webkit-transform: rotate(-31deg);
  -ms-transform: rotate(-31deg);
  transform: rotate(-24deg);
}

/* Above mobile */
@media(min-width: 420px) {
  .index-hero__market-title {
    font-size: 24px;
    text-align: left;
  }

  .index-hero__market-title a {
    font-size: 28px;
  }

  .index-hero__title {
    font-size: 2.8rem;
    line-height: 1.1;
    text-align: initial;
  }

  .index-hero ul {
    width: 100%;
    margin: initial;
    margin-top: 50px;
    margin-bottom: 1.45rem;
  }
}

