@import './layout.css';
@import './header.css';
@import './banner.css';
@import './footer.css';
@import './hero.css';
@import './guideSection.css';
@import './appSection.css';
@import './contactSection.css';
@import './videoSection.css';
@import './logo.css';

body {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.section-divider {
  color: #0086c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-divider h3 {
  font-size: 36px;
  font-family: "Allerta Stencil", sans-serif;
  transition: ease 0.3s;
  background: #fff;
}

.section-divider h3:hover {
  color: #0086c2;
  cursor: pointer;
}

/* .lines {
  position: absolute;
  width: 100%;
  height: 5px;
  background:  rgb(0, 0 , 0, 0.3);
  top: 100px;
} */

.half {
  color: #ffbd59;
}

.bracket-bulletin {
  color: #62aed9;
  font-weight: 700;
}

.code-item:hover,
.blog-item:hover,
.video-section .video-item:hover {
  cursor: pointer;
}

.code-item img {
  border: 1px solid #000;
  box-shadow: 0 0 2px 0px;
}

h3.copy-title {
  font-family: Allerta Stenvil sans-serif;
}



.feature-section {
  font-family: 'Open Sans', sans-serif;
}

.feature-section .section__copy {
  color: #000;
}

.feature-section .copy__title {
  padding: 15px;
  font-family: Allerta Stencil;
  color: #ffbd59;
  color: #fff;
  font-size: 26px;
  background: #000;
  border-radius: 6px;
}

.feature-section .copy__feature-list {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
}

.feature-section .bracket-bulletin {
  font-size: 16px;
}

.feature-section__btn input {
  background: #0086c2;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-family: Allerta Stencil;
  transition: ease 0.3s;
}

.feature-section__btn input:hover {
  background:#62aed9;
}


.feature-section .copy__description {
  font-size: 23px;
  margin-top: 20px;
  font-weight: 700;
}

.copy__feature-list a {
  text-decoration: none;
  color: #000;
}

.copy__feature-list a:hover {
  text-decoration: underline;
  color: #0086c2;
}

