@import './layout.css';
@import './header.css';
@import './banner.css';
@import './footer.css';
@import './hero.css';
@import './guideSection.css';
@import './appSection.css';
@import './contactSection.css';
@import './videoSection.css';
@import './logo.css';

body {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.section-divider {
  color: #22a2dc;
  font-family: "Allerta Stencil", sans-serif;
  background: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.section-divider h3 {
  font-size: 20px;
}

.section-divider h3:hover {
  color: #ffbd59;
  cursor: pointer;
}

.half {
  color: #ffbd59;
}

.bracket-bulletin {
  color: #ffbd59;
  font-weight: 700;
}

.code-item:hover,
.blog-item:hover,
.video-section .video-item:hover {
  cursor: pointer;
}

.code-item img {
  border: 1px solid #000;
  box-shadow: 0 0 2px 0px;
}

h3.copy-title {
  font-family: Allerta Stenvil sans-serif;
}



.feature-section {
  font-family: 'Open Sans', sans-serif;
}

.feature-section .copy__title {
  padding: 15px;
  font-family: Allerta Stencil;
  color: #ffbd59;
  font-size: 28px;
}

.feature-section .copy__feature-list {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.feature-section__btn input {
  background: #22a2dc;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: Allerta Stencil;
  transition: background 0.2s;
}

.feature-section__btn input:hover {
  background: #4aafde;
}


.feature-section .copy__description {
  font-size: 23px;
  margin-top: 5px;
  font-weight: 500;
}

