.logo {
    margin-left: 15px;
    font-size: 19px;
    letter-spacing: 0.2px;
}


.logo .tech {
    border: 2px solid #fff;
    color: #22a2dc;
    font-size: 20px;
    margin-left: 2px;
    padding: 2px;
    letter-spacing: 0.5px;
}

@media(min-width: 420px) {
    .logo {
        margin-left: 100px;
    }
}
