.logo {
    font-size: 16px;
    letter-spacing: 0.2px;
}


.logo .tech {
    border: 2px solid #fff;
    color: #62aed9;
    font-size: 18px;
    margin-left: 2px;
    padding: 2px;
    letter-spacing: 0.5px;
}


/* Above mobile */

@media(min-width: 420px) {
    .logo {
        font-size: 22px;
    }

    .logo .tech {
        font-size: 23px;
    }
}