.video-section__content {
    color: #000;
}

.video-section__copy {
    background: #f9f9f9;
    background-size: cover;   
    text-align: justify;
}

.video-section__copy .copy__description {
    text-align: center;
}

.video-section__copy .copy__title {
    text-align: center;
}

.video-section__copy .copy__feature-list {
    list-style-type: none;
    font-size: 21px;
    margin-top: 20px;
}

.video-section__copy .copy__feature-list li {
    margin-bottom: 25px;
    /* letter-spacing: 1px; */
}


.video-section .video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  

.video-section .video-item {
    max-width: 340px;
}

.video-section .video-item img {
    border: 1px solid #000;
    border-radius: 6px;
}

.video-section .bracket-bulletin {
    font-size: 20px;
    margin-right: 15px;
}

.video-section__btn {
    text-align: center;
}

