.video-section__content {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
}


.video-section__copy {
    background: #19171c url('../images/hero-bots.png') no-repeat fixed right;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-section__copy .copy__title {
    padding: 15px;
    text-align: center;
}

.video-section .video-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
  
.video-section .video-item img {
    border: 1px solid #000;
    max-width: 300px;
}

